<p>
    <span class="ball_645 lrg ball1"><%= @lotto[0] %></span>
    <span class="ball_645 lrg ball1"><%= @lotto[1] %></span>
    <span class="ball_645 lrg ball2"><%= @lotto[2] %></span>
    <span class="ball_645 lrg ball2"><%= @lotto[3] %></span>
    <span class="ball_645 lrg ball3"><%= @lotto[4] %></span>
    <span class="ball_645 lrg ball3"><%= @lotto[5] %></span>
</p>